<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment='head(title, description)'>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title th:text="|${title} - ESU|">Main</title>
        <meta name="description" content="" th:content="${description}"/>
        <meta name="author" content="J. David Mendoza"/>
        <link rel="shortcut icon" href="../../static/favicon.ico" th:href="@{/favicon.ico}" />
        <link rel="apple-touch-icon" sizes="57x57" href="../../static/apple-touch-icon-57x57.png" th:href="@{/apple-touch-icon-57x57.png}" />
        <link rel="apple-touch-icon" sizes="114x114" href="../../static/apple-touch-icon-114x114.png" th:href="@{/apple-touch-icon-114x114.png}" />
        <link rel="apple-touch-icon" sizes="72x72" href="../../static/apple-touch-icon-72x72.png" th:href="@{/apple-touch-icon-72x72.png}" />
        <link rel="apple-touch-icon" sizes="144x144" href="../../static/apple-touch-icon-144x144.png" th:href="@{/apple-touch-icon-144x144.png}" />
        <link rel="apple-touch-icon" sizes="60x60" href="../../static/apple-touch-icon-60x60.png" th:href="@{/apple-touch-icon-60x60.png}" />
        <link rel="apple-touch-icon" sizes="120x120" href="../../static/apple-touch-icon-120x120.png" th:href="@{/apple-touch-icon-120x120.png}" />
        <link rel="apple-touch-icon" sizes="76x76" href="../../static/apple-touch-icon-76x76.png" th:href="@{/apple-touch-icon-76x76.png}" />
        <link rel="apple-touch-icon" sizes="152x152" href="../../static/apple-touch-icon-152x152.png" th:href="@{/apple-touch-icon-152x152.png}" />
        <link rel="icon" type="image/png" href="../../static/favicon-196x196.png" sizes="196x196" th:href="@{/favicon-196x196.png}" />
        <link rel="icon" type="image/png" href="../../static/favicon-160x160.png" sizes="160x160" th:href="@{/favicon-160x160.png}" />
        <link rel="icon" type="image/png" href="../../static/favicon-96x96.png" sizes="96x96" th:href="@{/favicon-96x96.png}" />
        <link rel="icon" type="image/png" href="../../static/favicon-16x16.png" sizes="16x16" th:href="@{/favicon-16x16.png}" />
        <link rel="icon" type="image/png" href="../../static/favicon-32x32.png" sizes="32x32" th:href="@{/favicon-32x32.png}" />
        <meta name="msapplication-TileColor" content="#67b6ea" />
        <meta name="msapplication-TileImage" content="../../static/mstile-144x144.png" th:content="@{/mstile-144x144.png}" />
        <meta name="msapplication-config" content="../../static/browserconfig.xml" th:content="@{/browserconfig.xml}" />

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://use.fontawesome.com/b1086d89ce.css" />
        <link rel="stylesheet" href="../../static/styles/main.css" th:href="@{/styles/main.css}" />

    </head>
    <body>

        <header class="navbar navbar-default navbar-fixed-top" role="banner" th:fragment='navigation(activeMenu)'>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only" th:text="toggle.navigation">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="login-anchor" href="#" th:href="@{/login}" class="btn btn-default"><span class="fa fa-sign-in"></span></a>
                    <a id="mainLogo" href="#" th:href="@{/}" class="navbar-brand"><img src="../../static/images/logo.jpg" th:src="@{/images/logo.jpg}" alt="Escuela Sabática Universitaria" /></a>
                </div>

                <nav id="mainMenu" class="collapse navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        <li th:class="${activeMenu} == 'inicio' ? 'active'"><a href="#" th:href="@{/}">Inicio</a></li>
                        <li th:class="${activeMenu} == 'estudia' ? 'active'"><a href="#" th:href="@{/estudia}">Estudia</a></li>
                        <li th:class="${activeMenu} == 'profundiza' ? 'active'"><a href="#" th:href="@{/profundiza}">Profundiza</a></li>
                        <li th:class="${activeMenu} == 'comparte' ? 'active'"><a href="#" th:href="@{/comparte}">Comparte</a></li>
                        <li th:class="${activeMenu} == 'conocenos' ? 'active'"><a href="#" th:href="@{/conocenos}">Conocenos</a></li>
                        <li th:class="${activeMenu} == 'foro' ? 'active'"><a href="#" th:href="@{/foro}" target="_blank">Foro</a></li>
                    </ul>
                    <form action="#" th:action="@{/buscar}" method="GET" class="navbar-form navbar-right" name="searchForm" id="searchForm" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Buscar" id="filtro" name="filtro" />
                        </div>
                    </form>
                </nav>
            </div>
        </header>

        <div class="container">
            <div class="row" id="searchDiv" th:fragment='searchDiv'>
                <div class="col-sm-12">
                    <form action='#' th:action='@{/buscar}' method='GET' role='search' name="buscarForm2" id='buscarForm2'>
                        <input type="text" class="form-control" placeholder="Buscar" id="filtro2" name="filtro" />
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3" th:fragment="sidebar(activeMenu)">
                    <ul class="nav nav-pills nav-stacked" style="background-color: #dfdfdf">
                        <li th:class="${activeMenu} == 'articulos' ? 'active'"><a href="#" th:href="@{/admin/articulo}">Artículos</a></li>
                        <li th:class="${activeMenu} == 'trimestres' ? 'active'"><a href="#" th:href="@{/admin/trimestre}">Trimestres</a></li>
                        <li th:class="${activeMenu} == 'usuarios' ? 'active'"><a href="#" th:href="@{/admin/usuario}">Usuarios</a></li>
                        <li th:class="${activeMenu} == 'reportes' ? 'active'"><a href="#" th:href="@{/admin/reporte}">Reportes</a></li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <h1>Contenido</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h1 th:text="#{welcome.label}">Welcome</h1>

                </div>
            </div>
        </div>

        <footer role="contentinfo" th:fragment="footer" class="footer" >
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 leftfooter">
                        <h4><a href="#" th:href="@{/conocenos}">Acerca de Escuela Sabática Universitaria</a></h4>

                        <p>
                            <a href="#" th:href="@{/}">Inicio</a><br/>
                            <a href="#" th:href="@{/estudia}">Estudia</a><br/>
                            <a href="#" th:href="@{/profundiza}">Profundiza</a><br/>
                            <a href="#" th:href="@{/comparte}">Comparte</a><br/>
                            <a href="#" th:href="@{/foro}" target="_blank">Foro</a><br/>
                            <a href="#" th:href="@{/rss}" target="_blank">RSS</a>
                        </p>
                    </div>

                    <div class="col-sm-2 centerfooter">
                        <div class="addthis_vertical_follow_toolbox"></div>
                    </div>

                    <div class="col-sm-5 rightfooter">
                        <h4>"Profundiza en la palabra… Cambia tu mundo"</h4>
                        <div id="powered-by">
                            <h4>Powered by <a href="http://www.um.edu.mx" target="_blank">Universidad de Montemorelos</a></h4>
                            <a href="#" th:href="@{/admin}"><span class="fa fa-cogs"></span></a>
                        </div>
                    </div>
                </div>                
            </div>
        </footer>

        <div th:fragment="scripts" th:remove="tag">
            <script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                    a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-19803340-3', 'auto');
                ga('send', 'pageview');

            </script>
            <script type="text/javascript" src="//code.jquery.com/jquery-3.1.0.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script src="https://use.fontawesome.com/dee274d844.js"></script>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4d8a78014d97ad87" async="async"></script>
        </div>
    </body>
</html>