<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="layouts/admin :: head('Editar Trimestre', 'Editar Trimestre')">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Inicio</title>
        <meta name="description" content="" th:content="${description}"/>
        <meta name="author" content="J. David Mendoza"/>
        <link rel="shortcut icon" href="../../static/favicon.ico" th:href="@{/favicon.ico}" />
        <link rel="apple-touch-icon" sizes="57x57" href="../../static/apple-touch-icon-57x57.png" th:href="@{/apple-touch-icon-57x57.png}" />
        <link rel="apple-touch-icon" sizes="114x114" href="../../static/apple-touch-icon-114x114.png" th:href="@{/apple-touch-icon-114x114.png}" />
        <link rel="apple-touch-icon" sizes="72x72" href="../../static/apple-touch-icon-72x72.png" th:href="@{/apple-touch-icon-72x72.png}" />
        <link rel="apple-touch-icon" sizes="144x144" href="../../static/apple-touch-icon-144x144.png" th:href="@{/apple-touch-icon-144x144.png}" />
        <link rel="apple-touch-icon" sizes="60x60" href="../../static/apple-touch-icon-60x60.png" th:href="@{/apple-touch-icon-60x60.png}" />
        <link rel="apple-touch-icon" sizes="120x120" href="../../static/apple-touch-icon-120x120.png" th:href="@{/apple-touch-icon-120x120.png}" />
        <link rel="apple-touch-icon" sizes="76x76" href="../../static/apple-touch-icon-76x76.png" th:href="@{/apple-touch-icon-76x76.png}" />
        <link rel="apple-touch-icon" sizes="152x152" href="../../static/apple-touch-icon-152x152.png" th:href="@{/apple-touch-icon-152x152.png}" />
        <link rel="icon" type="image/png" href="../../static/favicon-196x196.png" sizes="196x196" th:href="@{/favicon-196x196.png}" />
        <link rel="icon" type="image/png" href="../../static/favicon-160x160.png" sizes="160x160" th:href="@{/favicon-160x160.png}" />
        <link rel="icon" type="image/png" href="../../static/favicon-96x96.png" sizes="96x96" th:href="@{/favicon-96x96.png}" />
        <link rel="icon" type="image/png" href="../../static/favicon-16x16.png" sizes="16x16" th:href="@{/favicon-16x16.png}" />
        <link rel="icon" type="image/png" href="../../static/favicon-32x32.png" sizes="32x32" th:href="@{/favicon-32x32.png}" />
        <meta name="msapplication-TileColor" content="#67b6ea" />
        <meta name="msapplication-TileImage" content="../../static/mstile-144x144.png" th:content="@{/mstile-144x144.png}" />
        <meta name="msapplication-config" content="../../static/browserconfig.xml" th:content="@{/browserconfig.xml}" />

        <link rel="stylesheet" href="../../static/styles/vendor.css" th:href="@{/styles/vendor.css}" />
        <link rel="stylesheet" href="../../static/styles/main.css" th:href="@{/styles/main.css}" />
        <script src="../../static/scripts/vendor/modernizr.js" th:src="@{/scripts/vendor/modernizr.js}"></script>

    </head>
    <body>

        <header class="navbar navbar-inverse navbar-fixed-top" role="banner" th:replace="layouts/admin :: navigation('trimestres')">
        </header>

        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1>Editar Trimestre</h1>

                    <form action="#" th:action="@{/admin/trimestres/editar}" method="POST" th:object="${trimestre}">
                        <input type="hidden" th:field="*{id}" />
                        <input type="hidden" th:field="*{version}" />
                        <div class="row">
                            <div class="col-md-6 form-group" th:classappend="${#fields.hasErrors('nombre')}?'has-error'">
                                <label for="nombre">Nombre</label>
                                <input type="text" th:field="*{nombre}" id="nombre" class="form-control" autofocus="autofocus"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group" th:classappend="${#fields.hasErrors('inicia')}?'has-error'">
                                <label for="inicia">Inicia</label>
                                <input type="text" th:field="*{inicia}" id="inicia" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group" th:classappend="${#fields.hasErrors('termina')}?'has-error'">
                                <label for="termina">Termina</label>
                                <input type="text" th:field="*{termina}" id="termina" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 checkbox" th:classappend="${#fields.hasErrors('publicado')}?'has-error'">
                                <label>
                                    <input type="checkbox" th:field="*{publicado}" id="publicado" />
                                    Publicado?
                                </label>                                
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg"><span class="fa fa-edit"></span> Actualizar</button>
                        <a href="#" onclick="javascript:history.back();" class="btn btn-default btn-lg"><span class="fa fa-undo"></span> Cancelar</a>
                        
                        <a href="#" th:href="@{'/admin/trimestres/eliminar/'+${trimestre.id}}" class="btn btn-danger btn-lg pull-right" onclick="return confirm('¿Seguro de que desea eliminar este trimestre?');">
                            <span class="fa fa-trash-o"></span> Eliminar
                        </a>
                    </form>
                </div>
            </div>
        </div>
        <footer role="contentinfo" th:replace="layouts/admin :: footer">
        </footer>

        <div th:replace="layouts/admin :: scripts" th:remove="tag">
            <script src="../../static/scripts/vendor.js" th:src="@{/scripts/vendor.js}"></script>
            <script src="../../static/scripts/plugins.js" th:src="@{/scripts/plugins.js}"></script>
            <script src="../../static/scripts/main.js" th:src="@{/scripts/main.js}"></script>
        </div>
    </body>
</html>