@import url(http://fonts.googleapis.com/css?family=Merienda+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$brown: #eadfcb;
$lightBrown: lighten($brown, 10%);

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding-top: 110px;
    @media(min-width: 768px) {
        padding-top: 160px;
    }
    font-size: 18px;
    font-family: 'Open Sans',Tahoma,sans-serif;
}

// h1,h2,h3,h4,h5,h6,p,.h1,.h2,.h3,.h4,.h5,.h6 {
//     line-height: 1.45;
// }

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: 'Merienda One',Tahoma,sans-serif;
}

h1,.h1 { font-size: 2em; }
h2,.h2 { font-size: 1.7em; }
h3,.h3 { font-size: 1.5em; }
h4,.h4 { font-size: 1.2em; }
h5,.h5 { font-size: 1.1em; }
h6,.h6 { font-size: 1em; }

.jumbotron {
    background-image: linear-gradient(to bottom,$brown 0,$lightBrown 100%);
    border-color: darken($brown, 5%);
    padding: 20px;
    margin-bottom: 0;
}

.well {
    background-image: linear-gradient(to bottom,$brown 0,$lightBrown 100%);
    border-color: darken($brown, 5%);
}

.navbar {
    padding: 0;
    background: #fff;
    border:0;
    border-radius:0;
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #555;
    background-color: $brown;
}

.navbar-default .navbar-nav>.active>a {
    $lightBrown: lighten($brown, 10%);
    background-image: linear-gradient(to bottom,$brown 0,$lightBrown 100%);
}

.navbar-form {
    padding: 0;
}

.navbar-toggle {
    margin-right: 5px;
}

.esu-sidenav {
    margin-top: 5px;
    padding: 0;
    text-shadow: 0 1px 0 #fff;
    background-color: lighten($brown, 10%);
    border-radius: 5px;
}

.esu-sidenav > li.nav-header {
    padding: 20px;
}

.esu-sidenav > li > a {
    color: #808080;
}

.esu-sidenav > li.active > a, .esu-sidenav > li.active:hover > a, .esu-sidenav > li.active:focus > a {
    font-weight: bold;
    color: #808080;
    background-color: lighten($brown, 5%);
    border-right: 1px solid #808080;
}

.esu-sidenav > li > a:focus, .esu-sidenav > li > a:hover {
    text-decoration: none;
    background-color: lighten($brown, 5%);
}

.footer {
    margin-top: 20px;
    padding: 20px 0;
    background-color: lighten($brown, 5%);
    color: #777;
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin: 0 0 0 -5px;
        width: 100%;
    }
}

.navbar-brand {
    padding: 0;
    margin: 5px 0 0 10px;
    width: 70%;

    @media(min-width: 465px) {
        margin: 0 0 0 10px;
    }
    @media(min-width: 768px) {
        margin: 0;
    }

    img {
        height: 70px;
        @media(min-width: 465px) {
            height: 100px;
        }
    }
}

.fb-comments span {
    width: 100% !important;
}
.fb-comments iframe {
    width: 100% !important;
}

.leftfooter {
    @media(min-width: 768px) {
        text-align: left;
    }
}

.centerfooter {
    @media(min-width: 768px) {
        text-align: left;
    }
}

.rightfooter {
    @media(min-width: 768px) {
        text-align: right;
    }
}

#powered-by {
    @media(min-width: 480px) {
        padding-top: 40px;
        font-size: 0.6em;
    }
}

.navbar-header {
    height: 100px;
    width: 100%;
}

#home-img {
    width: 100%;
}

#searchDiv {
    margin-bottom: 10px;
    @media(min-width: 992px) {
        display: none;
    }
}

#searchForm {
    display: none;
    @media(min-width: 992px) {
        display: block;
        padding-right: 15px;
        margin-bottom: 0;
    }
}

footer {
    text-align: center;
}

#slogan {
    padding: 20px 0;
    @media(min-width: 768px) {
        padding: 0 0 40px 0;
    }
}

.btn-cta {
    font-size: 1.4em;
    padding: 20px 0;
    margin-bottom: 30px;
}

.articulo {
    height: 400px;
    margin-top: 50px;
    padding: 5px;

    .articulo-contenido {
        height: 315px;
        overflow: hidden;
        padding-bottom: 5px;
    }

    .articulo-cta {
        margin-top: 5px;
        height: 50px;
    }
}